Unidad 1/T1.1 SIN BD/TI1.1 SOAP_DOTNET_CONUNI_GR01/02 CLICON/02. CLICON/Connected Services/ConversionServiceReference/ConversionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KilometrosAMillas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="km" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometrosAMillasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometrosAMillasResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosAPies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosAPiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetrosAPiesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACentimetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACentimetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PulgadasACentimetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosALibras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kg" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramosALibrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramosALibrasResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAOnzas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="g" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAOnzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramosAOnzasResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKilogramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lb" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKilogramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibrasAKilogramosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>