Unidad 1/T1.1 SIN BD/TI1.1 SOAP_DOTNET_CONUNI_GR01/02 CLIWEB/02.CLIWEB/Connected Services/ConversionServiceReference/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConversionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57003/ConversionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57003/ConversionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionService_KilometrosAMillas_InputMessage">
    <wsdl:part name="parameters" element="tns:KilometrosAMillas" />
  </wsdl:message>
  <wsdl:message name="IConversionService_KilometrosAMillas_OutputMessage">
    <wsdl:part name="parameters" element="tns:KilometrosAMillasResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_MetrosAPies_InputMessage">
    <wsdl:part name="parameters" element="tns:MetrosAPies" />
  </wsdl:message>
  <wsdl:message name="IConversionService_MetrosAPies_OutputMessage">
    <wsdl:part name="parameters" element="tns:MetrosAPiesResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_PulgadasACentimetros_InputMessage">
    <wsdl:part name="parameters" element="tns:PulgadasACentimetros" />
  </wsdl:message>
  <wsdl:message name="IConversionService_PulgadasACentimetros_OutputMessage">
    <wsdl:part name="parameters" element="tns:PulgadasACentimetrosResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_KilogramosALibras_InputMessage">
    <wsdl:part name="parameters" element="tns:KilogramosALibras" />
  </wsdl:message>
  <wsdl:message name="IConversionService_KilogramosALibras_OutputMessage">
    <wsdl:part name="parameters" element="tns:KilogramosALibrasResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GramosAOnzas_InputMessage">
    <wsdl:part name="parameters" element="tns:GramosAOnzas" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GramosAOnzas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GramosAOnzasResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_LibrasAKilogramos_InputMessage">
    <wsdl:part name="parameters" element="tns:LibrasAKilogramos" />
  </wsdl:message>
  <wsdl:message name="IConversionService_LibrasAKilogramos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LibrasAKilogramosResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusAFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusAFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusAFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusAFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_FahrenheitACelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitACelsius" />
  </wsdl:message>
  <wsdl:message name="IConversionService_FahrenheitACelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitACelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusAKelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusAKelvin" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusAKelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusAKelvinResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionService">
    <wsdl:operation name="KilometrosAMillas">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/KilometrosAMillas" message="tns:IConversionService_KilometrosAMillas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/KilometrosAMillasResponse" message="tns:IConversionService_KilometrosAMillas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MetrosAPies">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/MetrosAPies" message="tns:IConversionService_MetrosAPies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/MetrosAPiesResponse" message="tns:IConversionService_MetrosAPies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PulgadasACentimetros">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/PulgadasACentimetros" message="tns:IConversionService_PulgadasACentimetros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/PulgadasACentimetrosResponse" message="tns:IConversionService_PulgadasACentimetros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KilogramosALibras">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/KilogramosALibras" message="tns:IConversionService_KilogramosALibras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/KilogramosALibrasResponse" message="tns:IConversionService_KilogramosALibras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GramosAOnzas">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/GramosAOnzas" message="tns:IConversionService_GramosAOnzas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/GramosAOnzasResponse" message="tns:IConversionService_GramosAOnzas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LibrasAKilogramos">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/LibrasAKilogramos" message="tns:IConversionService_LibrasAKilogramos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/LibrasAKilogramosResponse" message="tns:IConversionService_LibrasAKilogramos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusAFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/CelsiusAFahrenheit" message="tns:IConversionService_CelsiusAFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/CelsiusAFahrenheitResponse" message="tns:IConversionService_CelsiusAFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitACelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/FahrenheitACelsius" message="tns:IConversionService_FahrenheitACelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/FahrenheitACelsiusResponse" message="tns:IConversionService_FahrenheitACelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusAKelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversionService/CelsiusAKelvin" message="tns:IConversionService_CelsiusAKelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversionService/CelsiusAKelvinResponse" message="tns:IConversionService_CelsiusAKelvin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversionService" type="tns:IConversionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KilometrosAMillas">
      <soap:operation soapAction="http://tempuri.org/IConversionService/KilometrosAMillas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MetrosAPies">
      <soap:operation soapAction="http://tempuri.org/IConversionService/MetrosAPies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PulgadasACentimetros">
      <soap:operation soapAction="http://tempuri.org/IConversionService/PulgadasACentimetros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KilogramosALibras">
      <soap:operation soapAction="http://tempuri.org/IConversionService/KilogramosALibras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GramosAOnzas">
      <soap:operation soapAction="http://tempuri.org/IConversionService/GramosAOnzas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LibrasAKilogramos">
      <soap:operation soapAction="http://tempuri.org/IConversionService/LibrasAKilogramos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusAFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IConversionService/CelsiusAFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitACelsius">
      <soap:operation soapAction="http://tempuri.org/IConversionService/FahrenheitACelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusAKelvin">
      <soap:operation soapAction="http://tempuri.org/IConversionService/CelsiusAKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionService">
    <wsdl:port name="BasicHttpBinding_IConversionService" binding="tns:BasicHttpBinding_IConversionService">
      <soap:address location="http://localhost:57003/ConversionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>